<div class="w-96 h-64 rounded-xl border-2 border-black bg-cyan-200 shadow-lg shadow-gray-800">
    <p class="text-xl text-center font-bold mt-3 mb-3 text-black"><strong>{{supply.supplyName}}</strong> | <strong>{{supply.productName}}</strong></p>

    <hr class="border-t-2 w-full border-black">

    <div class="flex flex-col justify-center p-5">
        <p class="text-base"><strong>ID del producto: </strong>{{supply.productId}}</p>
        <p class="text-base"><strong>ID del proveedor: </strong>{{supply.supplyId}}</p>
        <p class="text-base"><strong>Cantidad: </strong>{{supply.quantity}}</p>
        <p class="text-base"><strong>Precio total:</strong> $ {{supply.totalPrice}}</p>
        <p class="text-base"><strong>Fecha de pedido:</strong> {{parsedDate(supply.orderDate)}}</p>
        <p class="text-base"><strong>Fecha de entrega:</strong> {{parsedDate(supply.deliveryDate)}}</p>
    </div>
</div>
