<nav class="bg-white border-gray-200 dark:bg-gray-900 shadow-md shadow-gray-200">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <a href="/" (click)="ChangePage('auth-home')" class="flex items-center space-x-3 rtl:space-x-reverse">
        </a>
        <div class="flex items-center space-x-6 rtl:space-x-reverse">
            <a href="/auth-login" (click)="ChangePage('auth-login')" class="text-lg  text-blue-600 dark:text-blue-500 hover:underline">Iniciar sesión</a>
            <a href="/auth-register" (click)="ChangePage('auth-register')" class="text-lg  text-blue-600 dark:text-blue-500 hover:underline">Registrarse</a>
        </div>
    </div>
</nav>