<div class = "w-80 h-64 rounded-xl border-4 border-black bg-cyan-400">
    <p class = "text-2xl text-center font-bold mt-5 mb-5 text-black"><strong>Product name</strong></p>

    <hr class = "border-t-4 w-full border-black">

    <div class = "flex flex-col justify-center p-6">
        <p class = "text-lg"><strong>Price:</strong> $ <!--{{product.Price}}--></p>
        <p class = "text-lg"><strong>Discount percentage:</strong> % <!--{{product.DiscountPercentage}}--></p>
        <p class = "text-lg"><strong>Stock:</strong> <!--{{product.Stock}}--></p>
        <p class = "text-lg"><strong>Minimun stock:</strong> <!--{{product.StockMin}}--></p>
    </div>
</div>
