<div class="flex flex-col min-h-screen">
    <app-home-navbar></app-home-navbar>
    <div class="flex-grow flex justify-center items-center">
        <form class="w-full max-w-sm p-4 bg-white rounded-lg shadow-md flex flex-col" [formGroup]="forms" (ngSubmit)="onSubmit()">
            <div class="mb-4">
                <label for="name" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
                <input type="text" id="name" formControlName="name" class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:text-white" placeholder="john doe" required />
                <p *ngIf="NameErrors" class="text-red-500 text-xs">{{ NameErrors }}</p>
            </div>
            <div class="mb-4">
                <label for="rut" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Rut</label>
                <input type="text" id="rut" formControlName="rut" class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:text-white" placeholder="12345678-9" required />
                <p *ngIf="RutErrors" class="text-red-500 text-xs">{{ RutErrors }}</p>
            </div>
            <div class="mb-4">
                <label for="email" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                <input type="email" id="email" formControlName="email" class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:text-white" placeholder="john.doe@company.com" required />
                <p *ngIf="EmailErrors" class="text-red-500 text-xs">{{ EmailErrors }}</p>
            </div>
            <div class="mb-4">
                <label for="phone" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Teléfono</label>
                <input type="text" id="phone" formControlName="phoneNumber" class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:text-white" placeholder="57125073" required />
                <p *ngIf="PhoneNumberErrors" class="text-red-500 text-xs">{{ PhoneNumberErrors }}</p>
            </div>
            <div class="mb-4">
                <label for="password" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
                <input type="password" id="password" formControlName="password" class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:text-white" placeholder="•••••••••" required />
                <p *ngIf="PasswordErrors" class="text-red-500 text-xs">{{ PasswordErrors }}</p>
            </div>
            <div class="mb-4">
                <label for="confirmPassword" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Confirmar Contraseña</label>
                <input type="password" id="confirmPassword" formControlName="confirmPassword" class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:text-white" placeholder="•••••••••" required />
                <p *ngIf="ConfirmPasswordErrors" class="text-red-500 text-xs">{{ ConfirmPasswordErrors }}</p>
                <p *ngIf="PasswordMatchErrors" class="text-red-500 text-xs">{{ PasswordMatchErrors }}</p>
            </div>
            <button 
                type="submit" 
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" 
                [disabled]="forms.invalid">
                Enviar
            </button>
            <div *ngIf="successMessage" class="mt-4 bg-green-500 text-white text-sm p-2 rounded-lg text-center">
                {{ successMessage }}
            </div>
            <div *ngFor="let error of errorMessage" class="mt-2 bg-red-500 text-white text-sm p-2 rounded-lg text-center">
                {{ error }}
            </div>
        </form>
    </div>
</div>
